:root {
  --base_first: #0f2027;
  --base_second: #203a43;
  --base_third: #2c5364;
  --first: var(--base_first);
  --second: var(--base_second);
  --third: var(--base_third);
  --base_canvas: rgba(255, 255, 255, 0.2);
  --border_canvas: rgba(238, 238, 238, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yusei Magic", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-image: radial-gradient(var(--first), var(--second), var(--third));
  animation-duration: 2s;
  animation-name: gradient;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {
    --first: var(--base_first);
    --second: var(--base_second);
    --third: var(--base_third);
  }
  50% {
    --first: var(--base_third);
    --second: var(--base_first);
    --third: var(--base_second);
  }
  100% {
    --first: var(--base_second);
    --second: var(--base_third);
    --third: var(--base_first);
  }
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#myCanvas {
  box-shadow: 0 0 20px 10px var(--border_canvas);
  border-radius: 50px;
  background-color: var(--base_canvas);
  animation-duration: 3s;
  animation-name: canvas;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes canvas {
  0% {
    --border_canvas: rgba(238, 238, 238, 0.4);
    --base_canvas: rgba(255, 255, 255, 0.2);
  }
  100% {
    --border_canvas: rgba(238, 238, 238, 0.6);
    --base_canvas: rgba(255, 255, 255, 0.4);
  }
}

.modal {
  background-color: rgb(72, 131, 255);
  border: 10px solid rgb(48, 97, 231);
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  position: absolute;
}

.modal__text {
  font-size: 4rem;
  color: #eee;
  text-align: center;
}

.modal__button {
  background-color: rebeccapurple;
  border-radius: 20px;
  padding: 20px 50px;
  border: none;
  font-size: 2rem;
  color: #eee;
}

.modal__button:hover {
  padding: 25px 55px;
}

.modal__button:focus {
  outline: none;
}

/* second modal, first menu */

.modal_form {
  font-size: 2.2rem;
  padding-right: 10rem;
  font-weight: 900;
  height: 120px;
  width: inherit;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;
}

.modal_form > label {
  color: #333;
  width: 100px;
  justify-self: end;
  align-self: center;
}

.modal_form > input {
  padding-left: 2rem;
  width: 250px;
  font-size: 2rem;
  border-radius: 10px;
  border: 3px solid #ccc;
  margin: 5px 0;
  justify-self: start;
}

.modal_form > input:focus {
  background-color: #ccc;
  border: 3px solid #fff;
  outline: none;
}

.header {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.header_item {
  background-color: rgb(39, 104, 226);
  margin: 3rem 4rem 0 4rem;
  border-radius: 20px;
  font-size: 2rem;
  color: #eee;
  width: 20rem;
  height: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.header_item-icon {
  font-size: 3rem;
  width: 44px;
}

.header_item-point {
  background-color: greenyellow;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  text-align: center;
}
